html {
  scroll-behavior:smooth;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgb(31, 27, 27);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  align-content: flex-start;
  min-width: 320px;
  min-height: 100vh;
}

.general {
  margin: 0;
  display: flex;
  place-items: start;
  align-content: center;
  flex-direction: column;

  min-width: 320px;
  min-height: 100vh;
  padding-top: 200px;
}

@font-face {
  font-family: 'logotype';
  src: url("./assets/Daydream.ttf");
}

h1 {
  align-items: left;
  font-family: 'logotype';
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
  background-color: rgb(247, 75, 75);
  ;
}
.header-container {
  display: flex;
  flex-direction: column;
}

.bodyColoured {
  background: rgb(247, 75, 75);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px; 
  padding: 10px 50px;
  z-index: 1000;
  color: white; 
}

/*Articles*/

.article-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  background: white;
  
 
    width: 800px;
    max-width: 100%;
    
    
    align-items: center;
  
}

.article-title {
  text-align: left;
  margin: 0;
color: #1a1a1a;
  align-items: start;
  font-size: 1.25rem;
  white-space: normal; 
  overflow-wrap: break-word;
}


.article-body {
  
  
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;


  font-size: 1rem;
  color: #333;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.article-details {
  display: flex;
  justify-content: space-between; 
  margin-top: 10px;
  font-size: 0.9rem;
  color: #555;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}


.meta-item {
  opacity: 50%;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.05);
  border: 1px;
  display: flex;
  justify-content: center; 
  align-items: center;
  min-width: 150px;
}

.meta-item article{
  
  justify-content: space-between;
  border: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 50%;
}

.article-meta {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  max-width: 100%;
  
}

.meta-column {
  display: flex;
  flex-direction: column;
}





.comments-section {
  margin-top: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  
  border-radius: 8px;
  width: 830px;
}

.comment {
  margin-bottom: 20px;
}

.comment-details {
  margin: 0;
  padding: 0;
  border-top: 1px solid #ddd;
  font-size: 13px;
 align-items: center;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  
}

.comment-details p, .comment-details strong {
  flex: 1;
  
}

.comment-details p {
  text-align: center;
  opacity: 50%;
}

.comment-body {
  margin: 0;
  padding: 0;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  
}

.comment-input {
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
  
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  background: white;
  
 
}

.postComment-head {
  text-align: left;
  max-width: 40%;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;

  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 5px;
  
  background: white;
  
 
}

.header-buttons {
  background: white;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  background-color: white;
 
}

textarea[name="postContent"] {
  width: 80%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: rgb(247, 75, 75);
}
button:focus,
button:focus-visible {
  outline: 4px ;
  outline-color: white;
  color: white;
  background-color: rgb(247, 75, 75);;
}

.button-upvote {
  
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-right: 20%;;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  outline: 4px ;
  outline-color: rgb(247, 75, 75);
  color: white;
  background-color: rgb(247, 75, 75);
  cursor: pointer;
  transition: border-color 0.25s;
  float: right;
}

.button-upvote:focus {
  background-color: white; 
  color: black;
  box-shadow: 0 0 5px 2px white; 
  border: 1px solid white; 
}

.button-upvote:disabled {
  background-color: #ffffff;
  color: black;
  cursor: default;
  border: 1px solid #ccc; 
  box-shadow: none !important; 
  outline: none !important; 
}


.button-submit {
  
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-right: 20%;;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  outline: 4px ;
  outline-color: rgb(247, 75, 75);
  color: black;
  background-color: white(247, 75, 75);;
  cursor: pointer;
  transition: border-color 0.25s;
  float: right;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
